#navbarNav{
    margin-left: 8%;
}
.first{
    background-color:gainsboro;
}
#first-outline{
    font-size: large;
    color: black;
    
}
table th ,td{
    text-align: center;
    font-family: monospace;
    font-size: 20px;;
}

table{

    background-color: darksalmon;
    
}
.heading{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
.lead{
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;

}
.line 
{height:2px;
    border-width:0;
    color: dimgrey;
    background-color: dimgrey;
}
.book a{
    text-decoration: none;
     color:black;
    text-decoration: none;
}
.notes{
    background-color: darksalmon;
    border: 1px solid black;
    font-family: monospace;
    font-size: 17px;
    
}
.book a:hover{
    background-color:antiquewhite;
}
sup a{
    color:black ;
    font-size: 14px;
    text-transform: capitalize;
}
.subinner{
  font-family: monospace;
  font-size: 20px;
  color:black;
  text-decoration: underline;
  font-weight: bold;
}
marquee{
    font-family: monospace;
    text-transform: capitalize;
    font-weight: bold;
}
.lead{
    font-family: monospace;

}
.lead h4{
    font-size: 20px;
}
