#navbarNav{
    margin-left: 8%;
}
.navbar-nav,ul li a{
    color: white;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.navbar-nav,ul li a:hover{
    color:black;
    text-decoration: none;

}
.navbar{
    background-color: blue;
}
.active{
    color:#FF3D4F;

    
}
#logo{
    width: 150px;
    height: 100px;
}
.first{
    background-color:gainsboro;
}
.home-color{
    background-color: gainsboro;
}
#banner{
    background-image: url(images/main-banner1.jpg);
    padding-top: 35px;
}
#banner-text{
    color: white;
    text-align: center;
    line-height: 1.9em;
}
.inner{
    font-size: 20px;
    text-align: center;
    word-spacing: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#salam{
    color: #FF3D4F;
    font-weight: bold;
    text-decoration: underline;
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#first-outline{
    font-size: large;
    color: black;
    
}
table th ,td{
    text-align: center;
    font-family: monospace;
    font-size: 20px;;
}

table th{
    text-transform: capitalize;
    color: white;
}
table button a{
    color: white;
    text-decoration: none;
}
table button a:hover{
  color:black;
}

table{

    background-color:#0B184C;
    color: white;
    
}
.heading{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    color :white;
    background-color:blue;
    height: 59px;
    padding-top: 5px;

}

.head{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lead{
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.line 
{height:2px;
    border-width:0;
    color: dimgrey;
    background-color: dimgrey;
}
.book a{
    text-decoration: none;
     color:white;
    list-style: none;
}
.notes{
    background-color:#0B184C;
    border: 1px solid black;
    font-family: monospace;
    font-size: 17px;
    color: white;
    
}
.book a:hover{
    color:aqua;
    list-style: none;
    text-decoration: none;
}
sup{
    color: white;
}
 sup a{
    color:black ;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;
    
}
.subinner{
  font-family: monospace;
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
}

marquee{
    font-family: monospace;
    
    font-weight: bold;
}
.lead{
    font-family: monospace;

}
.lead h4{
    font-size: 20px;
}






.download a{
    color: black;;
    border: 2px solid black;
    background-color:white;
    list-style: none;
    text-decoration: none;
}
.subinner{
    /* color: rgb(37, 54,63); */
    color: white;
    text-decoration: none;
}
.box{
    border: 1px solid gray;
    /* background-color:rgb(215, 206, 199); */
    /* background-color: rgb(68, 132, 206); */
    /* background-color: rgb(43, 109, 169); */
    background-color: #0B184C;
    width:100%;
}
.sup a{
    border: 1px solid gray;
    background-color: white;
    list-style: none;
    text-decoration: none;
}
#footer-bg{
    background-image: url(images/footer-bg.png);
    
    
}

.scroll a{
    margin-left: 68%;
    color:yellow;
    font-weight: bold;
    text-decoration: none;

}

.scroll a:hover{
    color:blue;
    
}#scrol-6 a{
    margin-left:56% ;
}
#equation{
     margin-left: 5px;
}
.footer-text{
    color: white;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
}
.footer-text span{
    color:black;
    font-weight: bold;
}
.navbar-brand{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fontawesom{
    letter-spacing: 5px;
}
.fontawesom a:hover{
  text-decoration: none;
}
.pagination{
        justify-content: center;
     
}
.btn-group button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#btn-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/****** stylish button *****/
.dualcolorbutton{
    border: 1px solid navy;
 background: white; /* default button background color */
 display: inline-block; /* set to block or inline-block */
 padding: 10px 15px;
   margin: 10px; /* for demo layout */
 font: normal 16px 'Lato', sans-serif;  /* use google custom font "Lato" */
 border-radius: 18px;
 font-weight: bold;
 cursor: pointer;
 position: relative;
   outline: none;
   text-decoration: none;
 color: black;
 overflow: hidden;
   /*overflow bug in Chrome fix: http://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera */
   z-index: 100;
   transition: all .5s;
}

.dualcolorbutton > span{
 position: relative;
 display: block;
 z-index: 100;
}

.dualcolorbutton:before{
 position: absolute;
 content: '';
 height: 100%;
 width: 100%;
 background: #8E1911; /* left slanted panel background color */
 top: 0;
 left: 0;
 -webkit-transform: skew(-10deg) translate3d(-103%,0,0);
 transform: skew(-10deg) translate3d(-103%,0,0); /* tuck away slanted panel beyond left edge of button */
 border-right: 1px solid #8E1911;
 transition: all .5s;
}

.dualcolorbutton:hover{
   color: white;
   background: #BC3A31; /* button background color onhover */
}

.dualcolorbutton:hover:before{
 -webkit-transform: skew(-10deg) translate3d(-50%,0,0);
 transform: skew(-10deg) translate3d(-50%,0,0); /* move slanted panel to middle of panel */
}

/* "RightSlide Varation */

.dualcolorbutton.rightslide:before{
 -webkit-transform: skew(-10deg) translate3d(103%,0,0); /* tuck away slanted panel beyond right edge of button */
 transform: skew(-10deg) translate3d(103%,0,0); /* tuck away slanted panel beyond right edge of button */
}

.dualcolorbutton.rightslide:hover:before{
 -webkit-transform: skew(-10deg) translate3d(50%,0,0);
 transform: skew(-10deg) translate3d(50%,0,0);
}

/* "Dual Panels Varation */

.dualcolorbutton.dualslide{
   background: white;
}

.dualcolorbutton.dualslide:after{
 position: absolute;
 content: '';
 height: 100%;
 width: 100%;
 background: #FF3D4F; /* right slanted panel background color */
 top: 0;
 left: 0;
 -webkit-transform: skew(-10deg) translate3d(-103%,0,0);
 transform: skew(-10deg) translate3d(103%,0,0); /* tuck away slanted right panel beyond right edge of button */
 border-right: 1px solid #FF3D4F;
 transition: all .5s;
}

.dualcolorbutton.dualslide:hover:after{
 -webkit-transform: skew(-10deg) translate3d(50%,0,0);
 transform: skew(-10deg) translate3d(50%,0,0);
}
