#navbarNav{
    margin-left: 8%;
}
.first{
    background-color: darkgray;
}
#first-outline{
    font-size: large;
    color: black;
    
}
table th ,td{
    text-align: center;
}
table{
    background-color: moccasin;
}
.heading{
    background-color:aqua;
    
}